{% include banner-img-header.html src="/docs/assets/images/banner_img_6.jpeg" alt="" title="Accessibility" link="link-accessibility" %}

<section class="wrapper-bg light-green-bg">
  <div class="wrapper">
    <div class="margin-bottom-1rem">
      <p class="page_content-text">
        For audio description, or other accessibility-related accommodations for any event, please contact us with as much advance notice as possible. <a href="mailto:pramila@aniccha.org" target="_blank">pramila[at]aniccha[dot]org</a>
      </p>
      <p class="page_content-text">
        ASL interpreters will be at Hidden Falls and Frogtown Farm events.
      </p>
      <p class="page_content-text">
        <i>Smells:</i> These are generally odorless events. There will be plants like herbs and flowers, clay, and papier-maché present.
      </p>
    </div>
    <div class="margin-bottom-1rem">
      <h3 class="h3-body">Western Sculpture Park</h3>
      <p class="page_content-text">
        <a href="https://goo.gl/maps/68vRuhW2vJuzA6TQ9" target="_blank">
          387 Marion St, St Paul, MN 55103
        </a>
      </p>
      <div class="display-none-min-40rem margin-bottom-1rem">
        {%- include video-iframe.html src="https://player.vimeo.com/video/841544063?h=8ee70ee671" height="180" width="320" title="Western Sculpture Park accessibility" -%}
      </div>
      <div class="display-none-max-40rem margin-bottom-1rem">
        {%- include video-iframe.html src="https://player.vimeo.com/video/841544063?h=8ee70ee671" height="360" width="640" title="Western Sculpture Park accessibility" -%}
      </div>
      <p class="page_content-text">
        <i>Parking:</i> Free parking available along the streets adjacent to the park on Fuller Avenue, Marion Street and Ravoux Street.
      </p>
      <p class="page_content-text">
        <i>Bathrooms:</i> One gender inclusive ADA porta potty is present in the middle of the park which is within 75 feet from the performance areas.
      </p>
      <p class="page_content-text">
        <i>Venue Description:</i> The two acre park is relatively flat and has paved paths throughout the area for wheelchairs, knee rovers, and scooters to move between parking on the street to the bathrooms and the performance which will be spread out in the park.
      </p>
    </div>
    <div class="margin-bottom-1rem">
      <h3 class="h3-body">Hidden Falls Regional Park</h3>
      <p class="page_content-text">
        <a href="https://goo.gl/maps/1LupbX6e4q8kBDqq7" target="_blank">
          1313 Hidden Falls Dr, St Paul, MN 55116
        </a>
      </p>
      <div class="display-none-min-40rem margin-bottom-1rem">
        {%- include video-iframe.html src="https://player.vimeo.com/video/841544253?h=75d9c273a6" height="180" width="320" title="Hidden Falls Regional Park accessibility" -%}
      </div>
      <div class="display-none-max-40rem margin-bottom-1rem">
        {%- include video-iframe.html src="https://player.vimeo.com/video/841544253?h=75d9c273a6" height="360" width="640" title="Hidden Falls Regional Park accessibility" -%}
      </div>
      <p class="page_content-text">
        <i>Parking:</i> Free public parking is available in the Picnic Pavillion Parking lot as well as the Boat Launch parking lot.
      </p>
      <p class="page_content-text">
        <i>Bathrooms:</i> One gender inclusive ADA porta potty and gendered restrooms are located near the Picnic Pavilion Parking lot about 100 feet from the performance area.
      </p>
      <p class="page_content-text">
        <i>Venue Description:</i> The performance and sitting areas are uneven and grassy and on a hill. There are paved paths for wheelchairs, knee rovers, and scooters to move between the parking lots, bathrooms and performance location.
      </p>
      <p class="page_content-text">
        <i>Note:</i> The mosquitoes at this venue are particularly active this summer. Please dress appropriately.
      </p>
    </div>
    <div class="margin-bottom-1rem">
      <h3 class="h3-body">Frogtown Farm</h3>
      <p class="page_content-text">
        <a href="https://goo.gl/maps/NdJ9vbCaZxj7rnQQ9" target="_blank">
          946 Minnehaha Ave. W, St Paul, MN 55104
        </a>
      </p>
      <div class="display-none-min-40rem margin-bottom-1rem">
        {%- include video-iframe.html src="https://player.vimeo.com/video/841543848?h=089ee9f7e4" height="180" width="320" title="Frogtown Farm accessibility" -%}
      </div>
      <div class="display-none-max-40rem margin-bottom-1rem">
        {%- include video-iframe.html src="https://player.vimeo.com/video/841543848?h=089ee9f7e4" height="360" width="640" title="Frogtown Farm accessibility" -%}
      </div>
      <p class="page_content-text">
        <i>Parking:</i> Free public parking is available on the street along Minnehaha Avenue, Milton Street, and Victoria Street.
      </p>
      <p class="page_content-text">
        <i>Bathrooms:</i> One gender inclusive ADA porta potty is located near the center of the farm, 100 feet from the performance area.
      </p>
      <p class="page_content-text">
        <i>Venue Description:</i> The activities will take place in the Oak Grove area near Milton and Minnehaha Avenue.The performance and sitting areas are uneven and grassy. There are paved paths for wheelchairs, knee rovers, and scooters to move between the parking lots, bathrooms and performance location.
      </p>
    </div>
  </div>
</section>
