{% include banner-img-header.html src="/docs/assets/images/banner_img_4.jpg" alt="" title="Aniccha Arts" link="link-aniccha_arts" %}

<section class="wrapper-bg pc-aniccha_arts padding-top-1rem dark-green-bg">
  <div class="wrapper">
    <p class="page_content-text margin-top-05rem-bottom-125rem">
      <a href="http://aniccha.org/" target="_blank">Aniccha Arts</a> was founded by Pramila Vasudevan (2004) and is a movement centered trans-disciplinary arts collaborative that produces site-specific performances.  These performances examine agency, voice, and group dynamics within community histories, institutions, and systems.
    </p>
    <img src="/docs/assets/images/group_photo.jpg" alt="aniccha arts members group photo"/>
    <p class="page_content-text text-align-left margin-top-05rem">photo by Sequoia Hauck</p>
  </div>
</section>

<section class="wrapper-bg pc-prairie_concrete_collaborative neon-green-bg">
  <div class="wrapper">
    <h3 class="h3-body text-uppercase">
      Aniccha Arts Team
    </h3>
    <p class="page_content-text">
      Yasmin Abdi {% include bullet.html%} Sayge Carroll {% include bullet.html%} Shalini Gupta {% include bullet.html%} Sequoia Hauck {% include bullet.html%} Masanari Kawahara {% include bullet.html%} José Luis {% include bullet.html%} Cassandra Meyer {% include bullet.html%} Sam Aros Mitchell {% include bullet.html%} Mankwe Ndosi {% include bullet.html%} Margaret Ogas {% include bullet.html%} Alys Ayumi Ogura {% include bullet.html%} Valerie Oliveiro {% include bullet.html%} Dameun Strange {% include bullet.html%} Jasmine Kar Tang {% include bullet.html%} Alejandra (Tobar Alatriz) {% include bullet.html%} Claire Wilcox {% include bullet.html%} Hui Wilcox {% include bullet.html%} Lynn Wilcox {% include bullet.html%} Pramila Vasudevan {% include bullet.html%} Kira Vega {% include bullet.html%} Judith Shuǐ Xiān.
    </p>
    <p class="page_content-text">
      Thank you to the project photographers and videographers, designers, developers, and ASL interpreters:
      Drew Arrieta, Gisell Calderón, Maria Dively, Uche Iroegbu, Taylan De Johnette, Pallav Kumar, Elisa Lee, Prakshi Malik, and Ryan Stopera.
    </p>
  </div>
</section>
