{% include banner-img-header.html src="/docs/assets/images/banner_img_3.jpg" alt="" title="Greeting Plants" link="link-greeting_plants" %}

<section class="wrapper-bg neon-green-bg">
  <div class="wrapper">
    <h3 class="h3-body">Greeting Plants</h3>
    <p class="page_content-text">
      During some of our workshops, we will invite participants to join us in greeting seeds, plants, and trees - in Dakhóta. We will also learn how to say a few native plant names. This part of the workshop will be led by Cassandra Meyer, who has been learning and teaching Dakhóta for the past twenty years.
    </p>
    <p class="page_content-text">
      We also welcome you to listen to the audio file in advance so you can practice saying these greetings and plant names as you walk through a park or even your own neighborhood.
    </p>
    <p class="page_content-text">
      Artwork below is by Kira Vega. Speaker of Dakhóta language in audio file is Cassandra Meyer.
    </p>
  </div>
</section>

{% include audio-group.html %}
