<section class="wrapper-bg pc-greeting_plants">
  <div class="wrapper">
    <h3 class="h3-body">Dakhóta Greetings</h3>
    <div class="display-flex">
      <div class="left-side">
        <img class="" src="/docs/assets/images/greeting_plants/plant_1.jpg" alt="hand planting seed">
      </div>
      <div class="right-side">
        {% include embed-audio.html src="/docs/assets/audio/01_emakiyapi_1.m4a" dakhota="(Hau) Mitákuyepi!" english="Hello my relatives!" %}

        {% include embed-audio.html src="/docs/assets/audio/02_emakiyapi_2.m4a" dakhota="_________________emákiyapi." english="My name is (they call me) _________________" %}

        {% include embed-audio.html src="/docs/assets/audio/03_ohochidapi.m4a" dakhota="Ohóchidapi." english="I respect (revere) you." %}

        {% include embed-audio.html src="/docs/assets/audio/04_wopida.m4a" dakhota="Wópida tánka echíchiyapi(ye/do)." english="Thank you (I say big thanks to you)." %}
      </div>
    </div>


    <h3 class="h3-body">Plant Names</h3>
    <div class="display-flex">
      <div class="left-side">
        <img class="" src="/docs/assets/images/greeting_plants/plant_2.jpg" alt="illustration of a flower">
      </div>
      <div class="right-side">
        {% include embed-audio.html src="/docs/assets/audio/05_wahcha.m4a" dakhota="wahchá" english="flower" %}
      </div>
    </div>

    <div class="display-flex">
      <div class="left-side">
        <img class="" src="/docs/assets/images/greeting_plants/plant_3.jpg" alt="illustration of a showy milkweed">
      </div>
      <div class="right-side">
        {% include embed-audio.html src="/docs/assets/audio/06_phannunpada.m4a" dakhota="Phaƞnúƞpada" english="Showy milkweed" %}
      </div>
    </div>

    <div class="display-flex">
      <div class="left-side">
        <img class="" src="/docs/assets/images/greeting_plants/plant_4.jpg" alt="illustration of a Narrow-leaved coneflower">
      </div>
      <div class="right-side">
        {% include embed-audio.html src="/docs/assets/audio/07_ichahpe_hu.m4a" dakhota="Icháḣpe hu" english="Narrow-leaved coneflower" %}
      </div>
    </div>

    <div class="display-flex">
      <div class="left-side">
        <img class="" src="/docs/assets/images/greeting_plants/plant_5.jpg" alt="illustration of a Prairie onion">
      </div>
      <div class="right-side">
        {% include embed-audio.html src="/docs/assets/audio/08_psin_sichamna.m4a" dakhota="Pṡiƞ ṡíchamna" english="Prairie onion" %}
      </div>
    </div>

    <div class="display-flex">
      <div class="left-side">
        <img class="" src="/docs/assets/images/greeting_plants/plant_6.jpg" alt="illustration of a Meadow blazing star">
      </div>
      <div class="right-side">
        {% include embed-audio.html src="/docs/assets/audio/09_wazimninkpa_iyechecha.m4a" dakhota="Wazímniƞkpa iyéchecha" english="Meadow blazing starn" %}
      </div>
    </div>

    <div class="display-flex">
      <div class="left-side">
        <img class="" src="/docs/assets/images/greeting_plants/plant_7.jpg" alt="illustration of a Wild bergamot">
      </div>
      <div class="right-side">
        {% include embed-audio.html src="/docs/assets/audio/10_wahpe_wastemna.m4a" dakhota="Waḣpé waṡtémna" english="Wild bergamot" %}
      </div>
    </div>
  </div>
</section>