<section class="wrapper-bg pc-greeting_plants">
  <div class="wrapper">
    <h3 class="h3-body">Dakhóta Greetings</h3>
    <img class="" src="/docs/assets/images/greeting_plants/plant_1.jpg" alt="hand planting seed">
    {% include embed-audio.html src="/docs/assets/audio/01_emakiyapi_1.m4a" dakhota="(Hau) Mitákuyepi!" english="Hello my relatives!" %}

    {% include embed-audio.html src="/docs/assets/audio/02_emakiyapi_2.m4a" dakhota="_________________emákiyapi." english="My name is (they call me) _________________" %}

    {% include embed-audio.html src="/docs/assets/audio/03_ohochidapi.m4a" dakhota="Ohóchidapi." english="I respect (revere) you." %}

    {% include embed-audio.html src="/docs/assets/audio/04_wopida.m4a" dakhota="Wópida tánka echíchiyapi(ye/do)." english="Thank you (I say big thanks to you)." %}

    <h3 class="h3-body">Plant Names</h3>
  </div>
</section>