{% include banner-img-header.html src="/docs/assets/images/banner_img_1.jpeg" alt="" title="Performance Gatherings" link="link-performance_gatherings"%}

<section class="wrapper-bg pc-performance_blocks">
  <div class="wrapper">
    <div class="rect dark-green">
      <h3>Come Join Us As We Dance With Plants!</h3>
      <p class="page_content-text">
        These are kid friendly events. Feel free to bring lawn chairs, blankets, water bottles and snacks.  Consider wearing sunscreen and insect repellent.
      </p>
      <p class="page_content-text">
        ASL interpreters will be at Hidden Falls and Frogtown Farm events.
        <a href="#link-accessibility">Learn more about accessibility at our events</a>
      </p>
    </div>
    <div class="rect neon-green">
      <h3>Frogtown Farm</h3>
      <p class="page_content-text">
        <a href="https://goo.gl/maps/NdJ9vbCaZxj7rnQQ9" target="_blank">
          946 Minnehaha Ave. W, St Paul, MN 55104
        </a>
      </p>
      <p class="page_content-text">Sunday, September 10, 2023</p>
      <p class="page_content-text">
        Come and go anytime from 2:00pm to 5:00pm.
      </p>
    </div>
    <div class="rect neon-green">
      <h3>Hidden Falls Regional Park</h3>
      <p class="page_content-text">
        <a href="https://goo.gl/maps/1LupbX6e4q8kBDqq7" target="_blank">
          1313 Hidden Falls Dr, St Paul, MN 55116
        </a>
      </p>
      <p class="page_content-text">Sunday, August 13, 2023</p>
      <p class="page_content-text">
        Come and go anytime from 2:00pm to 5:00pm.
      </p>
    </div>
    <div class="rect neon-green">
      <h3>Western Sculpture Park</h3>
      <p class="page_content-text">
        <a href="https://goo.gl/maps/68vRuhW2vJuzA6TQ9" target="_blank">
          387 Marion St, St Paul, MN 55103
        </a>
      </p>
      <p class="page_content-text">Sunday, August 6, 2023</p>
      <p class="page_content-text">
        Come and go anytime from 2:00pm to 5:00pm.
      </p>
    </div>
  </div>
</section>