{% include banner-img-header.html src="/docs/assets/images/banner_img_2.jpg" alt="" title="Workshops" link="link-workshops" %}

<section class="wrapper-bg light-green-bg">
  <div class="wrapper">
    <p class="page_content-text">
      Join us at our in person creative workshops centering plants, trees and their place!
    </p>
    <p class="page_content-text">
      Due to limited space, registration is appreciated for these events.
    </p>
    <p class="page_content-text">
      Please email <a href="mailto:pramila@aniccha.org" target="_blank">pramila[at]aniccha[dot]org</a> for the form. Learn more about our <a href="#link-aniccha_arts">amazing artist team</a>.
    </p>
  </div>
</section>

<section class="wrapper-bg dark-green-bg">
  <div class="wrapper">
    <h3 class="h3-body">Frogtown Farm</h3>
    <p class="page_content-text">
      Wednesday, June 7, 2023 (2:30-4:30pm)</br>
      Wednesday, July 12, 2023   (2:30-4:30pm)</br>
      Wednesday, July 26, 2023   (2:30-4:30pm)</br>
    </p>
    <h3 class="h3-body">Hidden Falls Regional Park</h3>
    <p class="page_content-text">
      Sunday, July 9, 2023 (9am-11am)</br>
      Sunday, July 16, 2023 (10:30-12:30)</br>
      Sunday, July 23, 2023 (10:30-12:30)</br>
    </p>
    <h3 class="h3-body">Western Sculpture Park</h3>
    <p class="page_content-text">
      Wednesday, June 21, 2023  (2:30-4:30pm)</br>
      Wednesday, July 19, 2023 (2:30-4:30pm)</br>
      Sunday, July 30, 2023  (2:30-4:30pm)</br>
    </p>
  </div>
</section>