// FONTS
$prompt_font_family: 'Prompt', sans-serif;
$josefin_font_family: 'Josefin Sans', sans-serif;
$merriweather_font_family: 'Merriweather', serif;
$pt_sans_font_family: 'PT Sans', sans-serif;

$dark_green: #2b4708;
$light_green: #e0dcbb;
$neon_green: #d5d449;
$light_brown: #CCC6A2;
$dark_brown: #5E583E;

