---
---

@import "{{ site.theme }}";

$green: #2b4707;
$brown:  #e2dcba;

.site-header {
  background-color: $green;
}

.site-title {
  color: $brown !important;

}
// .post-meta {
//     color: $color !important;
// }