<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <section class="wrapper-bg pc-logo_banner">
        <div class="wrapper">
          <img class="prairie_concrete-logo" src="/docs/assets/images/prairie_concrete_logo.png" alt="prairie|concrete logo">
          <h1>
            <span class="pc-logo_banner-prairie">Prairie</span>
            <span class="pc-logo_banner-divider">|</span>
            <span class="pc-logo_banner-concrete">Concrete</span>
          </h1>
        </div>
      </section>
      <section class="wrapper-bg light-green-bg">
        <div class="wrapper">
          <div class="text-align-center display-none-min-40rem margin-bottom-1rem">
            {%- include video-iframe.html src="https://player.vimeo.com/video/838891720?h=7d097e6bf4" height="180" width="320" title="Prairie|Concrete: come join us dancing with plants by Aniccha Arts" -%}
          </div>
          <div class="text-align-center display-none-max-40rem margin-bottom-1rem">
            {%- include video-iframe.html src="https://player.vimeo.com/video/838891720?h=7d097e6bf4" height="360" width="640" title="Prairie|Concrete: come join us dancing with plants by Aniccha Arts" -%}
          </div>
          <p class="page_content-text">
            Welcome to <span class="prairie_concrete-bold_text">Prairie|Concrete</span>, a project that brings visibility to plant cycles and growing practices through embodied listening and movement sessions with communities in Imnizaska, (where the white rock bluffs form what we now call St. Paul, Minnesota).
          </p>
          <p class="page_content-text">
            These sessions include public <a href="#link-workshops">workshops</a> and <a href="#link-performance_gatherings">performance gatherings</a> held throughout the summer at Frogtown Farm, Hidden Falls Regional Park, and Western Sculpture Park.
          </p>
          <p class="page_content-text">
            Prairie Concrete is led by <a href="#link-aniccha_arts">Aniccha Arts</a>, a trans-disciplinary collaborative.
          </p>
        </div>
      </section>

    {% include performances.html %}

    {% include workshops.html %}

    {% include accessibility.html %}

    {% include greeting-plants.html %}

    {% include aniccha-arts.html %}

    <section class="wrapper-bg white-bg pc-funders">
      <div class="wrapper">
        <h3 class="h3-body text-uppercase">
          Funders
        </h3>
        <div class="display-flex">
          <img src="/docs/assets/images/funders/forecast_logo.jpg" alt="Forecast logo">
          <img src="/docs/assets/images/funders/joyce_logo.png" alt="The Joyce Foundation logo">
          <img src="/docs/assets/images/funders/legacy_logo.jpeg" alt="Clean Water and Land & Legacy logo">
          <img src="/docs/assets/images/funders/mrac_logo.png" alt="Metro Regional Arts Council logo">
          <img src="/docs/assets/images/funders/mudluk_logo.jpg" alt="Mudluk logo">
          <img src="/docs/assets/images/funders/square_logo.jpg" alt="Public Art Saint Paul logo">
        </div>
        <p class="page_content-text">
          This project is a commission of Public Art St. Paul with monies and support from the Joyce Foundation. This activity is made possible by the voters of Minnesota through a grant from the Metropolitan Regional Arts Council, thanks to a legislative appropriation from the arts and cultural heritage fund. This project is also supported by Forecast Public Art through funding from The McKnight Foundation.
        </p>
      </div>
    </section>

    {%- include footer.html -%}
    </main>
  </body>
</html>