<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <section class="wrapper-bg pc-logo_banner">
        <div class="wrapper">
          <img class="prairie_concrete-logo" src="/docs/assets/images/placeholder_1.png">
          <h1>
            <span class="pc-logo_banner-prairie">Prairie</span>
            <span class="pc-logo_banner-divider">|</span>
            <span class="pc-logo_banner-concrete">Concrete</span>
          </h1>
        </div>
      </section>

      <section class="wrapper-bg pc-introduction">
        <div class="wrapper">
          <p>
            Welcome to <span class="prairie_concrete-bold_text">Prairie|Concrete</span>, a project that brings visibility to plant cycles and growing practices through embodied listening and movement sessions with communities in Imniza Ska, (where the white rock bluffs form what we now call St. Paul, Minnesota).
          </p>
          <p>
            These sessions include public workshops and performance gatherings held throughout the summer at Frogtown Farm, Hidden Falls Regional Park, and Western Sculpture Park (for details click here).
          </p>
          <p>
            Prairie Concrete is led by Aniccha Arts, a trans-disciplinary collaborative. Learn more here [link to Aniccha Arts tab]
          </p>
        </div>
      </section>

      <div class="banner-img bi-sites_performances">
        <h2>
          <span>Sites &</span>
          <span>Performances</span>
        </h2>
      </div>

      <section class="wrapper-bg pc-event_blocks">
        <div class="wrapper">
          <div class="rect dark-green">
            <h3>Come join us as we dance with plants!  These are kid friendly events.</h3>
            <p>
              These are kid friendly events.</br>
              Drop in anytime between</br>
              2:00 to 5:00pm
            </p>
          </div>
          <div class="rect neon-green">
            <h3>Western Sculpture Park, Sunday</h3>
            <p>08.06.2023</p>
          </div>
          <div class="rect neon-green">
            <h3>Hidden Falls Regional Park, Sunday</h3>
            <p>08.13.2023</p>
          </div>
          <div class="rect neon-green">
            <h3>Frogtown Farm, Sunday</h3>
            <p>09.10.2023</p>
          </div>
        </div>
      </section>

      <div class="banner-img bi-workshops">
        <img src="/docs/assets/images/banner_img_1.jpg"/>
        <div class="wrapper h2-text">
          <h2>
            <span>Workshops</span>
            <span>& Greeting</span>
            <span>Plants</span>
          </h2>
        </div>

      </div>
    </main>

    <section class="wrapper-bg pc-event_info">
      <div class="wrapper">
        <h3>Frogtown Farm</h3>
        <p>
          Wednesday, June 7, 2023 (2:30-4:30pm)</br>
          Wednesday, July 12, 2023   (2:30-4:30pm)</br>
          Wednesday, July 26, 2023   (2:30-4:30pm)</br>
        </p>
        <h3>Hidden Falls Regional Park</h3>
        <p>
          Sunday, July 9, 2023 (9am-11am)</br>
          Sunday, July 16, 2023 (10:30-12:30)</br>
          Sunday, July 23, 2023 (10:30-12:30)</br>
        </p>
        <h3>Western Sculpture Park</h3>
        <p>
          Wednesday, June 21, 2023  (2:30-4:30pm)</br>
          Wednesday, July 19, 2023 (2:30-4:30pm)</br>
          Sunday, July 30, 2023  (2:30-4:30pm)</br>
        </p>
      </div>
    </section>

    <section class="wrapper-bg pc-greeting_plants">
      <div class="wrapper">
        <h3>Greeting Plants</h3>
        <p>
          During our workshops, we will invite participants to join us in greeting seeds, plants, and trees - in Dakhóta. We will also learn how to say a few native plant names. This part of the workshop will be led by Cassandra Meyer, who has been learning and teaching Dakhóta for the past twenty years.
        </p>
        <p>
          We also welcome you to listen to the audio file in advance so you can practice saying these greetings and plant names as you walk through a park or even your own neighborhood. Artwork below is by Kira Vega.
        </p>
      </div>
    </section>

    <section class="wrapper-bg pc-TODO">
      <div class="wrapper">
        {% include embed-audio.html src="/docs/assets/audio/emakiyapi_1.m4a" %}
        audio recordings here
      </div>
    </section>

    <img src="/docs/assets/images/group_photo.jpg" alt="prairie | concrete collaborative members group photo"/>
    <p>photo by Sequoia Hauck</p>

    <section class="wrapper-bg pc-aniccha_arts">
      <div class="wrapper">
        <h3>Aniccha Arts</h3>
        <p>
          Aniccha Arts was founded by Pramila Vasudevan (2004) and is a movement centered trans-disciplinary arts collaborative that produces site-specific performances.  These performances examine agency, voice, and group dynamics within community histories, institutions, and systems.
        </p>
      </div>
    </section>

    <section class="wrapper-bg pc-prairie_concrete_collaborative">
      <div class="wrapper">
        <h2>
          Prairie |</br>
          Concrete</br>
          Collaborative</br>
        </h2>
        <p>
          Yasmin Abdi, Sayge Carroll, Shalini Gupta, Sequoia Hauck, Masanari Kawahara, José Luis, Cassandra Meyer, Sam Aros Mitchell, Mankwe Ndosi, Margaret Ogas, Alys Ayumi Ogura, Valerie Oliveiro, Dameun Strange, Alejandra (Tobar Alatriz), Jasmine Kar Tang, Claire Wilcox, Hui Wilcox, Lynn Wilcox, Pramila Vasudevan, Kira Vega, and Judith Shuǐ Xiān.
        </p>
        <p>
          Thank you to the project photographers and videographers, designers, and developers:</br>
          Taylan De Johnette, Pallav Kumar, Elisa Lee, Ryan Stopera, and Gisell Calderón.
        </p>
      </div>
    </section>

    {%- include footer.html -%}

  </body>

</html>