.banner_img {
  position: relative;

  h2 {
    color: $dark_green;
    font-family: $prompt_font_family;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
    padding-top: 1rem;
    text-transform: uppercase;
  }

  img {
    object-fit: cover;
    max-height: 20rem;
    width: 100%;
  }

  .wrapper {
    @extend .neon-green-bg;
    background-color:rgba(213, 212, 97, 0.85);
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
