.banner_img {
  position: relative;

  h2 {
    color: $dark_green;
    font-family: $prompt_font_family;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
    padding-top: 1rem;
    text-transform: uppercase;
  }

  img {
    object-fit: cover;
    max-height: 20rem;
    width: 100%;
  }

  .wrapper {
    background-color:rgba(213, 212, 97, 0.85);
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  &.pc-aniccha_arts {
    h2 {
      font-size: 1.5rem;
    }

    img {
      max-height: 100%;
    }

    .wrapper {
      background-color:rgba(213, 212, 97, 0.85);
      left: 50%;
      text-align: center;
      top: 80%;
      transform: translate(-50%, -50%);
      width: 50%;
    }
  }
}
