// HEADER
.site-header {
  background-color: $dark_green;
  border: 0;
  font-family: $prompt_font_family;
  padding: 1rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;

  .page-link {
    color: $light_green;
  }

  label {
    background-color: $dark_green;
  }

  .site-nav {
    background-color: $dark_green;
    border-color: $light_green;
  }

  .site-title {
    @extend .text-uppercase;
    color: $light_green;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.01rem;

    &:visited {
      color: $light_green;
    }
  }

  .site-title-divider {
    font-weight: 100;
  }

  .trigger {
    font-family: $josefin_font_family;
  }
}
