// .pc-introduction {
//   background-color: $light_green;
//   color: $brown;
// }

.pc-greeting_plants {
  color: $dark_green;

  img {
    display: block;
    max-height: 20rem;
    margin-bottom: 1rem;
  }
}