.pc-greeting_plants {
  img {
    display: block;
    max-height: 20rem;
    margin-bottom: 1rem;
  }

  .page_content-text {
    font-family: sans-serif;
  }

  .dakhota-red {
    color: $dark_brown;
  }

  @media screen and (min-width: 40rem){
    .left-side {
      width: 25%;
    }
    .right-side {
      margin-left: 2rem;
      max-width: 50%;
    }
  }
}