.pc-greeting_plants {
  img {
    display: block;
    max-height: 20rem;
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 40rem){
    .left-side {
      width: 25%;
    }
    .right-side {
      margin-left: 2rem;
      max-width: 50%;
    }
  }
}