.pc-performance_blocks {
  background-color: $light_green;

  .wrapper {
    padding: 0;
  }

  h3 {
    font-family: $prompt_font_family;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.25rem;
  }

  .rect {
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 0 1rem 1rem 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }


    &.dark-green {
      @extend .dark-green-bg;
      h3 {
        font-size: 1.75rem;
      }
    }
  }

  .neon-green {
    @extend .neon-green-bg;
    font-family: $prompt_font_family;
    font-size: 2rem;

    h3 {
      @extend .text-uppercase;
    }

    .page_content-text {
      line-height: 1rem;
      a {
        color: $dark_green;
        text-decoration: underline;

        &:hover {
          color: $dark_brown;
          font-weight: 500;
        }
      }
    }
  }
}