// DEFAULT CLASSES OVERRIDES
.page-content {
  padding: 0;
  width: 100%;
}

.page_content-text {
  font-family: $josefin_font_family;
  font-size: 1rem;
  font-weight: 300;

  &:last-of-type {
    margin-bottom: 0;
  }
}

// UNIVERSAL CUSTOM CLASSES
.text-bold {
  font-weight: bold;
}

.dark-green-bg {
  background-color: $dark_green;
  color: $light_green;
}

.neon-green-bg {
  background-color: $neon_green;
  color: $dark_green;
}

.light-green-bg {
  background-color: $light_green;
  color: $dark_brown;

  a {
    color: $dark_brown;
    text-decoration: underline;

    &:hover {
      color: $dark_green;
      font-weight: 400;
    }
  }
}

.h3-body {
  font-family: $prompt_font_family;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.prairie_concrete-bold_text {
  @extend .text-bold;
  font-family: $josefin_font_family;
  text-transform: uppercase;
}

// CUSTOM CLASSES
.wrapper-bg {
  padding: 2rem 0;
}
